.line-first{
    background-color: #a2a2a3;
}
.simle-container {
    margin-top: 35px;
    text-align: center; 
    margin-bottom: 35px;
}

.simle-container img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.simle-container span {
    padding-left: 10px;
    color: #F97307; 
    font-size: 24px;
}

.order-table {
    width: 100%;
    margin-top: 10px;
}
.td-left {
    width: 33%;
}
.td-center {
    width: 33%; text-align: center
}
.td-right {
    width: 33%; text-align: right
}